# The file containing environment variables
env

# Ingore IDE specific files
.vscode/

# Ingore flask session files
.flask_session

# Ignore all files in __pycache__
__pycache__/


Lib/

Scripts/

pyvenv.cfg
