<html>
  <head>
    <title>Doodle Recognizer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <section class="section">
      <div class="box has-background-black-ter">
        <h1 class="title is-1 has-text-info">
          About
        </h1>

        <p class="subtitle is-4 pt-4 has-text-warning">
          What is Doodle Recognizer?
        </p>

        <p class="subtitle is-6 has-text-primary-light">
          An Image recognition and comparison web application developed in
          Python using Flask and OpenCV.
          <br />
          We use a variant of the Fourier Transform Function (FFT) to convert
          images into the frequency domain, then compare the frequency of the
          sample data to the user doodle.
          <br />
          Inspired from Google's
          <strong class="has-text-info-light">Quick Draw</strong>
        </p>

        <strong
          ><nav>
            <ul class="menu">
              <li><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
          </nav></strong
        >
      </div>
    </section>
  </body>
</html>
