<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Doodle Recognizer</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <section class="hero has-background-black-ter is-halfheight">
      <div class="hero-body">
        <div class="">
          <figure class="image">
            <img src="/static/images/bg.jpg" />
          </figure>
          <br />
          <p class="title is-1 has-text-info">Doodle Recognizer</p>
          <p class="subtitle has-text-primary-light">
            Image recognition and identification!
          </p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="box has-background-black-ter">
        <p class="subtitle is-4 pt-2 has-text-warning">
          The Developers.
        </p>

        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    class="is-rounded"
                    src="/static/images/meet_bio.PNG"
                    alt="Placeholder"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Meet Digrajkar</p>
                <p class="subtitle is-6">Software Engineer</p>
              </div>
            </div>

            <div class="content">
              Code Monkey
              <a href="https://github.com/meetdigrajkar/">@github</a>
              <a href="https://www.linkedin.com/in/meet-digrajkar-054086176/"
                >@linkedin</a
              >
              <br />
            </div>
          </div>
        </div>

        <br />

        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    class="is-rounded"
                    src="https://bulma.io/images/placeholders/96x96.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Shoaib Khan</p>
                <p class="subtitle is-6">Software Engineer</p>
              </div>
            </div>

            <div class="content">
              bio here <a href="#">@github</a>
              <a href="#">@linkedin</a>
              <br />
            </div>
          </div>
        </div>

        <br />

        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    class="is-rounded"
                    src="https://bulma.io/images/placeholders/96x96.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Tamer Ibrahim</p>
                <p class="subtitle is-6">Software Engineer</p>
              </div>
            </div>

            <div class="content">
              bio here <a href="#">@github</a>
              <a href="#">@linkedin</a>
              <br />
            </div>
          </div>
        </div>

        <br />

        <strong
          ><nav>
            <ul class="menu">
              <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
          </nav></strong
        >
      </div>
    </section>
  </body>
</html>
