<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Doodle Recognizer</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('home') }}">
          <img src="/static/images/logo.png" width="32" height="32" />
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="{{ url_for('draw') }}" class="navbar-item">
            Draw
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a href="{{ url_for('about') }}" class="navbar-item">
                About
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="box box has-background-black-ter">
      <p class="title is-1 has-text-info">Doodle Recognizer</p>
      <p class="subtitle has-text-primary-light">
        Image recognition and identification!
      </p>
    </div>

    <section class="section">
      <div class="box has-background-black-ter">
        <div class="content is-normal has-text-primary-light">
          <h2 class="has-text-danger">Our system</h2>
          <p>
            Draw a doodle from a category and we will identify parts of it, and
            give you data on which category your doodle was from! The categories
            below are what we support at this moment.
          </p>
          <ul class="has-text-warning">
            <li>Apple</li>
            <li>Tower</li>
            <li>Pants</li>
            <li>Ice cream</li>
            <li>Keys</li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
