<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Doodle Recognizer</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('home') }}">
          <img src="/static/images/logo.png" width="32" height="32" />
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="{{ url_for('draw') }}" class="navbar-item">
            Draw
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a href="{{ url_for('about') }}" class="navbar-item">
                About
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="box">
        <h1 class="title">
          Doodle Recognizer
        </h1>
        <p class="subtitle has-text-link">
          {{doodle_type}}!
        </p>

        <div class="right-block">
          <canvas id="paint-canvas" width="640" height="400"></canvas>
          <button class="button is-link is-medium" type="button" id="recognize">
            Recognize
          </button>
        </div>
        <br />
        <div class="left-block">
          <div class="colors">
            <button
              class="button is-danger is-small"
              type="button"
              value="#de2a2a"
            ></button>
            <button
              class="button is-success is-small"
              type="button"
              value="#32a852"
            ></button>

            <button
              class="button is-link is-small"
              type="button"
              value="#0000ff"
            ></button>
          </div>
          <br />
          <div class="brushes">
            <button class="button is-small" type="button" value="1">1</button>
            <button class="button is-small" type="button" value="2">2</button>
            <button class="button is-small" type="button" value="3">3</button>
            <button class="button is-small" type="button" value="4">4</button>
            <button class="button is-small" type="button" value="5">5</button>
          </div>
          <br />
          <div class="buttons">
            <button class="button is-danger is-medium" id="clear" type="button">
              Clear
            </button>
            <button class="button is-primary is-medium" id="save" type="button">
              Save
            </button>
          </div>
        </div>

        <br />
      </div>
    </section>
    <script src="{{ url_for('static', filename='canvas.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </body>
</html>
